body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em 0;
}

header h1 {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#hamburger {
    display: block;
    font-size: 30px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}

#navMenu {
    display: none;
    list-style: none;
    padding: 0;
}

#navMenu.show {
    display: block;
}

#navMenu li {
    padding: 8px 0;
}

#navMenu a {
    color: white;
    text-decoration: none;
}

#navMenu a:hover {
    color: yellow;
}

/* MAIN */
main {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

.temple-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.temple-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
}

.temple-card img {
    width: 100%;
    border-radius: 8px;
}


