
@media screen and (min-width: 500px) {
    
    header {
        background-color: #000000;
        color: #ffffff;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}