
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f3f8;
    margin: 0;
    padding: 0;
}

header,
main,
footer {
    max-width: 640px;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e3ecfc;
    box-sizing: border-box;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #ededf1;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    background-color: #ffffff;
    padding: 1rem;
}
